body,html{
    
  margin: 0;
}

.logo{
  
  animation-name: harsh;
  position: absolute;
  background-color: #585858;
  height: 10%;
  width: 100%;
  padding-left: 33%;
  animation-duration: 3s;
}



.input{
  position: absolute;
  top: 10%;
  height: 40%;
  width: 100%;
  padding-left: 33%;
  background-color:#282828;
  color: white;
}

.extra{
  position: absolute;
  top: 50%;
  height: 40%;
  width: 100%;
  padding-left: 33%;
  background-color:gray;

}






.footer{
  position: absolute;
  top: 90%;

  height: 10%;
  width: 100%;
  padding-left: 33%;
  background-color:#585858 ;
}  
.rs-control .rs-range-color {
  background-color: #cd2e0d;
}
.rs-control .rs-path-color {
  background-color: #ffffff;
}
.rs-control .rs-handle:after {
  background-color: #838383;
}
.rs-control .rs-bg-color {
  background-color:gray;
}


/* css for commented html
 
.hd{
    font-family: 'Courier Prime', monospace;
    width: 33vw;  
    height: 10vw;
    text-align: center;
    margin-left:33% ;
}
@keyframes x1{
 
  0% {background-color: #FEB249;}
  25% {background-color: blueviolet;}
  50%{background-color: black;color: white;}
  100%{ background-color: #FEB249;;
  }
}

.interface{
  font-family: 'Courier Prime', monospace;
  width: 7vw;
  height: 7vw;
  border: #FEB249;
  font-size: medium;
  box-shadow: 1px 1px 1px black;
  transition: .3s;
  background-color:#FEB249;
  animation-name: x1;
  animation-duration: 5s;
}

.interface:hover{
  
  transition: .3s;
  box-shadow: 2px 2px 5px black;

}

li{
  float: left;
list-style-type:none;}

.submission{
  position: relative;
  margin-left: 33%;
  margin-top: 10%;
}*/